<!DOCTYPE html>
<html ng-app="demo.ts">
<head lang="en">
    <meta charset="UTF-8">
    <title>Typescript / Angular Graphs Demo</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <style>
        a{
            text-decoration: none;
            text-underline: none;
            color: #121212;
        }
    </style>

</head>
<body>

<div ui-view class="container">

</div>


<script type="text/ng-template" id="demoTpl.html">
    <div class="row" >

    <div class="col-xs-6">
        <h1>Ephesians</h1>
        <div ng-bind-html="demoCtrl.bookContent"></div>
    </div>
    <div class="col-xs-6">
        <div ui-view></div>
    </div>
    </div>
</script>


<script type="text/ng-template" id="nodeTpl.html">
    <div class="row" >
        <h2>{{nodeCtrl.nodeName}}</h2>
    </div>
    <div class="row" style="margin-bottom: 3em;">
        <div class="col-xs-4">
            <div ng-bind-html="nodeCtrl.nodeReference"></div>
        </div>
        <div class="col-xs-8">
            <div ng-bind-html="nodeCtrl.nodeContent"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
        <h3>Related:</h3>
        </div>
        <div class="col-xs-3">
            <h4>Depth: {{nodeCtrl.nodeDepth}}</h4>
        </div>
        <div class="col-xs-5">
            <button type="button"
                    class="pull-left btn btn-default"
                    ng-click = "nodeCtrl.nodeDepth = nodeCtrl.nodeDepth - 1">
                Decrease
            </button>
            <button type="button"
                    class="pull-right btn btn-primary"
                    ng-click = "nodeCtrl.nodeDepth = nodeCtrl.nodeDepth + 1">
                Increase
            </button>
        </div>
    </div>
    <div class="row">
        <accordion close-others ="false">
            <accordion-group
                    ng-repeat="aGroup in nodeCtrl.accordionGroups"
                    heading="{{aGroup.heading}}"
                    is-open="aGroup.isOpen">
                <table class="table">
                    <thead>
                        <th>Reference</th>
                        <th>Content</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="node in aGroup.adjacentNodes track by $index">
                            <td ng-bind-html="::node.renderReference()">
                            </td>
                            <td ng-bind-html="::node.getContent()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </accordion-group>
        </accordion>
    </div>
</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="lib/angularjs/angular.js"></script>
<script src="lib/angularjs/angular-sanitize.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="scripts/graphTraversalDemo/angularDemo/demo.js"></script>
</body>




</html>